<!-- Validation failure messages -->
<% if @model_competancy.present? %>
  <% if @model_competancy.errors.any? %>
    <% @model_competancy.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new model competancy
</h1>


<hr>

<form action="/create_model_competancy" method="post">

  <div class="form-group">
          <label for="model_id">
            Model
          </label>

          <%= select_tag("model_id", options_from_collection_for_select(Model.all, :id, :name), :class => "form-control") %>
          or <a href="/models/new">add a new model</a> first
        </div>

   <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create model competancy
  </button>
</form>

<hr>

<a href="/model_competancies">
  Go back
</a>
