<!-- Validation failure messages -->
<% if @model_competancy.present? %>
  <% if @model_competancy.errors.any? %>
    <% @model_competancy.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new model competancy
</h1>


<hr>

<form action="/create_model_competancy" method="post">

  <div class="form-group">
    <label for="model_id">
      Model
    </label>

    <input type="text" id="model_id" name="model_id" class="form-control" value="<%= @model_competancy.model_id %>">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @model_competancy.user_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create model competancy
  </button>
</form>

<hr>

<a href="/model_competancies">
  Go back
</a>
