<h1>
  Add a new training run
</h1>


<hr>

<form action="/create_training_run" method="post">

  <div class="form-group">
    <label for="model_id">
      Model
    </label>

    <input type="text" id="model_id" name="model_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="dataset_id">
      Dataset
    </label>

    <input type="text" id="dataset_id" name="dataset_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="iteration">
      Iteration
    </label>

    <input type="text" id="iteration" name="iteration" class="form-control">
  </div>

  <div class="form-group">
    <label for="accuracy_score">
      Accuracy score
    </label>

    <input type="text" id="accuracy_score" name="accuracy_score" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create training run
  </button>
</form>

<hr>

<a href="/training_runs">
  Go back
</a>
