<h1>
  Add a new training run
</h1>


<hr>

<form action="/create_training_run" method="post">

  <div class="form-group">
          <label for="model_id">
            Model
          </label>

          <%= select_tag("model_id", options_from_collection_for_select(Model.all, :id, :name), :class => "form-control") %>
          or <a href="/models/new">add a new model</a> first
        </div>

   <div class="form-group">
     
   <div class="form-group">
          <label for="model_id">
            Dataset
          </label>

          <%= select_tag("dataset_id", options_from_collection_for_select(Dataset.all, :id, :name), :class => "form-control") %>
          or <a href="/datasets/new">add a new dataset</a> first
        </div>

   <div class="form-group">
          

  <div class="form-group">
    <label for="accuracy_score">
      Accuracy score
    </label>

    <input type="text" id="accuracy_score" name="accuracy_score" class="form-control">
  </div>
   <label for="iteration">
            Iteration
          </label>
          <%= select_tag "iteration", options_for_select([[ 'first', 'first'],
          ['second', 'second'], 
          ['third', 'third'], 
          ['fourth', 'fourth'], 
          ['fifth', 'fifth'], 
          ['sixth',  'sixth'],
          ['seventh', 'seventh'],
          ['eighth', 'eighth'], 
          ['ninth', 'ninth'], 
          ['tenth or higher' , 'tenth or higher' ]]) %>
          
  <button class="btn btn-block btn-outline-secondary">
    Create training run
  </button>
</form>

<hr>

<a href="/training_runs">
  Go back
</a>
